
@{
}


<div class="container mt-5">

    <h3>Search by:</h3>

    <form method="post">

        <div class="row">

            <div class="col-md-4 mb-3">

                <label class="form-label">Brand</label>
                <input type="text" class="form-control">

            </div>

            <div class="col-md-4 mb-3">

                <label class="form-label">Min price</label>
                <input type="number" class="form-control">

            </div>

            <div class="col-md-4 mb-3">

                <label class="form-label">Max price</label>
                <input type="number" class="form-control">

            </div>

            <div class="col-md-4 mb-3">

                <label class="form-label">Year from:</label>
                <input type="number" class="form-control">

            </div>

            <div class="col-md-4 mb-3">

                <label class="form-label">Year to:</label>
                <input type="number" class="form-control">

            </div>

        </div>

        <button class="btn btn-danger">
            Применить фильтр
        </button>

    </form>

</div>

