@using TurboASP.Models

@{
}

@model List<Car>

<div class="container mt-4">
    <div class="row">
        @foreach (Car c in Model)
            @await Html.PartialAsync("../Partials/_carCard", c);
    </div class="row">
</div>